.regLogin {
  width: 175px;
  height: 50px;
  font-family: "Montserrat", "Sans-Serif";
  color: #13274f;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: #fcfcfc;
  text-transform: capitalize;
  transition: ease-out 0.5s;
  border-radius: 10px;
}

.regLogin:hover {
  color: #163572;
  cursor: pointer;
  transition: ease-in 0.5s;
}

/* 
  <div class="regLogin">
  <i class="fa-solid fa-user"></i>
  <p>log in/register</p>
  </div> */
