:root {
  --main-color: #ff5a36;
  --sale-color: #e3242b;
  --product-card-font-size: 12px;
  --main-font: "Roboto", Sans-Serif;
  --secondary-font: "Montserrat", Sans-Serif;
  --section-width: 69%;
}
