.dark-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.foundItems {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.countOfProducts {
  width: 75%;
}

.items {
  width: 75%;
  /* height: 500px; */
}

.foundCard {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.searchedItem {
  width: 200px;
  height: auto;
}

.searchedItem img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.foundCounter {
  font-family: var(--secondary-font);
}

.searchWord {
  color: var(--main-color);
}

.paginator {
  width: 200px;
  padding-top: 50px;
}

.paginator ul {
  gap: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.paginator ul li {
  width: 50px;
  height: 50px;
  border-radius: 12px;
  font-family: var(--main-font);
  cursor: pointer;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.viewProductUl {
  width: 110px;
  height: 40px;
  border-radius: 12px;
  color: white;
  list-style: none;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: ease-out 0.3s;
}

.viewProductLi {
  text-align: center;
}

.viewProduct {
  cursor: pointer;
  font-family: var(--secondary-font);
}

.viewProductUl:hover {
  background-color: transparent;
  border: 1px solid var(--main-color);
  color: black;
  transition: ease-in 0.3s;
}

.productTitle {
  font-family: var(--main-font);
}

.priceContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sale {
  font-family: var(--main-font);
  text-decoration: line-through;
  color: var(--sale-color);
}

.priceContainer p {
  font-family: var(--main-font);
}
